@import "_variables";
.main-header {
    background-color: #1C1C1C;
    &__wrap {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
.logo-block {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: yellow;
    border: 3px solid gold;
    border-radius: 50%;
    padding: 10px;
}
.owner-name{
    font-size: 20px;
    color: white;
    display: inline-block;
    padding: 0 15px;
}
