.home-section {
    height: calc(100vh - 120px);
    padding: 20px 0;
    &__block{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    &__headeline {
        text-align: center;
    }
}
.portfolio-list {
    &__item {}
    &__link {}
}
